* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #180101c9;
  margin: 0;
  padding: 0;
  color: #d0cfd8;
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none;
  color: #d0cfd8;
}
a:hover {
  color: #b0afb6;
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10pt + 0.8vw);
  color: #000000;
  width: 100%;
  background-color: #f3f3f3f6;
  z-index: 1;
  padding-bottom: 1vh;
}
.header-logo a,
.header-faq a {
  text-decoration: none;
  color: #000000;
}
.header-logo {
  position: absolute;
  top: 1vh;
  left: 5vw;
}
.header-logo-bt:hover {
  color: #534444;
  cursor: pointer;
}
.header-faq {
  position: absolute;
  top: 1vh;
  right: calc(70px + 10vw);
}
.header-faq-bt:hover {
  color: #534444;
}
.header-lang {
  position: absolute;
  top: 1vh;
  right: calc(35px + 5vw);
}
header .header-toggle {
  position: relative;
  height: 40px;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#nav {
  cursor: pointer;
  overflow: hidden;
  background: #492f2ffa;
  height: 0;
  list-style-type: none;
  padding-left: 0;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
#nav.open {
  height: 100%;
  margin-top: calc(20px + 4vh);
}

#nav li {
  text-align: right;
  text-decoration: none;
  width: 100%;
  margin: 0;
}
#nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  display: block;
  margin: 0;
}
#nav li:hover {
  background-color: #2b1515ee;
}
#contain {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
}
.bar1,
.bar2,
.bar3 {
  width: calc(25px + 0.8vw);
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  margin-right: 2vw;
  transition-delay: 0;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.main-home {
  position: relative;
  display: block;
}

.main-intro-bg {
  position: fixed;
  top: 0;
  opacity: 0.9;
  z-index: -1;
  background-image: url(https://images2.imgbox.com/08/67/ckJN95aU_o.jpg);
  background-color: #240101f6;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
.main-intro-bg-back {
  position: fixed;
  top: 0;
  opacity: 0.08;
  z-index: -5;
  background-image: url(https://images2.imgbox.com/08/67/ckJN95aU_o.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.main-intro-text {
  height: 70vh;
  margin: calc(15vh + 100px) 20vw 0 20vw;
  color: #fffbfb;
  text-align: justify;
}
.main-intro-text p {
  background-color: #2b1515ee;
  font-size: calc(8pt + 0.8vw);
  padding: 2vh 2vw;
}
.main-biography {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  vertical-align: top;
  z-index: 0;
}

.main-biography-background {
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 8vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.main-biography-background div {
  padding: 0 1.5vw 2vw 1.5vw;
  width: 35vw;
  text-align: justify;
}
.main-biography-background img {
  width: 50vw;
  height: auto;
  padding: 0 1.5vw 2vw 1.5vw;
  z-index: -1;
}
.main-biography-text {
  width: calc(10px + 5vw);
  font-size: calc(8pt + 0.8vw);
  margin: 0;
}
.main-biography p {
  text-align: justify;
}
.main-biography-btn p {
  background-size: 100% 0.3em;
  background-position: 0 88%;
  transition: 0.25s ease-in;
  background-image: linear-gradient(#2b1515ee, #2b1515ee);
  background-repeat: no-repeat;
  text-align: center;
  padding: 1rem;
  color: #fff;
  border-radius: 0.5rem;
}
.main-biography-btn p:hover {
  background-size: 100% 100%;
}
.main-biography-btn {
  opacity: 0.8;
  text-decoration: none;
}
#bio {
  transition: 1s ease-out;
}
#bio.active {
  background-color: black;
  opacity: 1;
  transition: 1s ease-in-out;
}
#bio-ayg.active {
  transition: 1s;
  opacity: 0;
}
#bio-ayg {
  transition: 1s ease-out;
}
.main-future {
  position: relative;
  display: block;
}
.main-future-desc {
  position: relative;
  display: block;
}
.main-future-desc img {
  width: 100vw;
}
.main-future-text {
  position: absolute;
  top: calc(300px + 25vh);
  margin: 0 30vw;
  font-size: calc(8pt + 0.8vw);
}
.main-future-text p {
  width: 40vw;
  text-align: justify;
}
#future {
  opacity: 0;
  transition: 1s ease-out;
}
#future.active {
  opacity: 1;
  transition: 1s ease-in-out;
}
footer {
  background-color: #f3f3f3f6;
  border: 1px solid #f3f3f3f6;
}
.footer-contact p {
  padding-left: 2vw;
  padding-top: 1vh;
  color: #333;
}
@media screen and (max-width: 800px) {
  .main-intro-bg {
    background-image: url(https://images2.imgbox.com/0d/bb/kbLslW1R_o.jpg);
    background-size: cover;
  }
  .main-intro-bg-back {
    background-image: url(https://images2.imgbox.com/0d/bb/kbLslW1R_o.jpg);
    background-size: cover;
  }
  .main-future-text {
    top: 20vh;
  }
}

.bio-page__AYG {
  margin: 10vh 10vw;
}
.bio-page__photos {
  display: flex;
}
.bio-page__photos img {
  height: 75vh;
  margin: 0 auto;
}
.bio-page__biography p {
  text-align: justify;
}
.first-paragraph {
  display: block;
  margin: 10vh 0;
}
.bio-page__childhood,
.bio-page__career {
  display: flex;
  justify-content: space-around;
  align-items: top;
}
.bio-page__childhood p,
.bio-page__career p {
  margin: 0 3vw 0 0;
}
.bio-page__childhood img {
  height: 70vh;
}
.bio-page__career a {
  font-style: italic;
  color: #d0cfd8;
}
.img-undertext {
  display: block;
  text-align: center;
  margin: 0;
}

.img-undertext img {
  max-height: 100vh;
}
.img-undertext p {
  padding: 1vw 1vw;
  text-align: center;
}
.bio-page__biography span {
  font-weight: 1000;
}

@media screen and (max-width: 540px) {
  body {
    background-color: #10051b;
    z-index: -4;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  #nav {
    background: #1b0a30f3;
  }
  #nav li:hover {
    background-color: #0d0616f3;
  }
  .main-home {
    display: block;
    margin: 0;
    box-sizing: border-box;
  }

  .main-intro-bg {
    background-image: url(https://images2.imgbox.com/0d/bb/kbLslW1R_o.jpg);
    background-size: cover;
  }
  .main-intro-bg-back {
    background-image: url(https://images2.imgbox.com/0d/bb/kbLslW1R_o.jpg);
    background-size: cover;
  }
  .main-intro-text {
    margin-top: 40vh;
    margin-bottom: 40vh;
  }
  .main-intro-text p {
    color: #f3f3f3f6;
    background-color: #10051b;
    opacity: 0.9;
    width: 70vw;
  }
  .main-biography-background {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
  }
  .main-biography-background div {
    width: 80vw;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 1vh;
    margin-top: 2vh;
  }
  .main-biography-btn p {
    background-color: #220c3ff3;
    background-image: none;
  }
  .main-biography-btn {
    margin-bottom: 5vh;
  }
  .main-biography-background img {
    width: 80vw;
    margin: 0 auto;
  }
  .main-future {
    background-color: black;
    border-bottom: 1px solid black;
  }
  .main-future-text {
    display: block;
    position: relative;
    top: 0;
    margin: 2vh auto;
    margin-bottom: 10vh;
  }
  .main-future-text p {
    margin: 0 auto;
    width: 80vw;
  }
}
