* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10pt + 0.8vw);
  color: #000000;
  width: 100%;
  background-color: #f3f3f3f6;
  z-index: 1;
}
.header-logo a,
.header-faq a {
  text-decoration: none;
  color: #000000;
}
.header-logo {
  position: absolute;
  top: 1vh;
  left: 5vw;
}
.header-logo-bt:hover {
  color: #121266;
  cursor: pointer;
}
.header-faq {
  position: absolute;
  top: 1vh;
  right: calc(70px + 10vw);
}
.header-faq-bt:hover {
  color: #121266;
}
.header-lang {
  position: absolute;
  top: 1vh;
  right: calc(35px + 5vw);
}

header .header-toggle {
  position: relative;
  height: 40px;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#nav {
  cursor: pointer;
  overflow: hidden;
  background: #505050;
  height: 0;
  list-style-type: none;
  padding-left: 0;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}
#nav.open {
  height: 100%;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  margin-top: calc(20px + 4vh);
}

#nav li {
  text-align: right;
  text-decoration: none;
  width: 100%;
  margin: 0;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}
#nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  display: block;
  margin: 0;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

#contain {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
}
.bar1,
.bar2,
.bar3 {
  width: calc(25px + 0.8vw);
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  margin-right: 2vw;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.main-home {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 5vh;
}

.main-intro-background {
  margin: 0 auto;
  margin-bottom: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.main-intro-background p {
  margin-left: 5vw;
  width: 17vw;
}
.main-intro-background img {
  height: 80vh;
  margin-left: 5vw;
  z-index: -1;
}
.main-intro-text {
  width: calc(10px + 5vw);
  font-size: calc(8pt + 0.8vw);
}
.main-intro p {
  text-align: justify;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: #f3f3f3f6;
}
.footer-contact p {
  padding-left: 2vw;
  padding-top: 3vh;
}

@media screen and (max-width: 540px) {
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  .main-home {
    display: block;
    margin: 0;
    box-sizing: border-box;
  }

  .main-intro-background {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
  }
  .main-intro-background p {
    width: 80vw;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  .main-intro-background img {
    height: 70vh;
    margin: 0 auto;
  }
}
